@import url("../../fonts/OpenSans/styles/style.css");
@import url("../../fonts/CircularStd/styles/style.css");
* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1146px;
  margin: 0 auto;
  padding: 0 20px;
}

button, input, select {
  font-family: "Open Sans", "Circular Std", "PT Sans Narrow", sans-serif;
}

body {
  font-family: "Open Sans", "Circular Std", "PT Sans Narrow", sans-serif;
  background-color: #020A18;
}

footer {
  font-family: "Circular Std", "Open Sans", "PT Sans Narrow", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

h1, h2, h3 {
  color: #FFFFFF;
  line-height: 130%;
}

h1 {
  font-size: 55px;
  font-weight: 800;
}
@media screen and (max-width: 640px) {
  h1 {
    font-size: 44px;
  }
}
@media screen and (max-width: 375px) {
  h1 {
    font-size: 32px;
  }
}

h2 {
  font-size: 40px;
  font-weight: bold;
}
@media screen and (max-width: 640px) {
  h2 {
    font-size: 36px;
  }
}
@media screen and (max-width: 375px) {
  h2 {
    font-size: 24px;
  }
}

p {
  font-size: 16px;
  color: #FFFFFF;
  line-height: 160%;
}

.btn {
  color: #FFFFFF;
  padding: 15px 30px;
  background-color: #3A68B8;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  border: none;
  transition: background-color 0.3s linear;
  cursor: pointer;
}
.btn:hover {
  background-color: #305597;
}

.header {
  position: relative;
  max-height: 100px;
  padding: 22px 0;
  background: linear-gradient(180deg, rgba(8, 15, 29, 0.2), rgb(8, 16, 29));
}
.header:before {
  content: "";
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -41.9%, #FFFFFF 260.24%);
  opacity: 0.02;
  -webkit-backdrop-filter: blur(200px);
          backdrop-filter: blur(200px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.header__inner {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 64px;
}
@media screen and (max-width: 1024px) {
  .header__logo {
    margin-right: 0;
  }
}
@media screen and (max-width: 568px) {
  .header__logo {
    display: none;
  }
}
.header__sign-in {
  margin-left: auto;
}
@media screen and (max-width: 1024px) {
  .header__sign-in {
    margin-right: 30px;
  }
}
@media screen and (max-width: 568px) {
  .header__sign-in {
    margin: 0;
  }
}
.header__mobile-btn-open {
  display: none;
  padding: 5px;
}
@media screen and (max-width: 1024px) {
  .header__mobile-btn-open {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 568px) {
  .header__mobile-btn-open {
    margin-left: auto;
  }
}

.logo {
  display: flex;
  align-items: center;
}
.logo__title {
  color: #3A68B8;
  padding-left: 15px;
  font-weight: 600;
  font-size: 22.5455px;
  line-height: 31px;
}

.menu {
  max-width: 650px;
  padding: 0 20px;
}
.menu a {
  color: white;
  transition: color 0.3s linear;
}
.menu__items {
  display: flex;
  -moz-column-gap: 42px;
       column-gap: 42px;
  row-gap: 5px;
}
.menu__item:hover a {
  color: #3A68B8;
}
@media screen and (max-width: 1024px) {
  .menu {
    display: none;
  }
}

.about {
  padding-bottom: 99px;
}
.about:before {
  content: "";
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -41.9%, rgba(255, 255, 255, 0.4) 260.24%);
  opacity: 0.1;
  -webkit-backdrop-filter: blur(200px);
          backdrop-filter: blur(200px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.about__body {
  padding: 160px 0 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 990px) {
  .about__body {
    padding: 80px 0 100px;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 640px) {
  .about__body {
    padding: 40px 0 70px;
  }
}
.about__content {
  flex: 1.1;
}
.about__text {
  text-transform: uppercase;
  color: #3A68B8;
  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
  padding-bottom: 10px;
}
.about__title {
  padding-bottom: 40px;
  max-width: 600px;
}
.about__description {
  font-size: 18px;
  padding-bottom: 50px;
  max-width: 558px;
}
.about__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.about__buttons button {
  font-size: 20px;
}
@media screen and (max-width: 440px) {
  .about__buttons button {
    width: 100%;
  }
}
.about__btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__btn svg {
  max-width: 27px;
  max-height: 26px;
  margin-right: 10px;
}
.about__image {
  position: relative;
  flex: 0.9;
  width: 100%;
}
.about__image img {
  position: absolute;
  top: 50%;
  right: -211px;
  max-width: 632px;
  transform: translateY(-50%);
}
@media screen and (max-width: 1580px) {
  .about__image img {
    max-width: 100%;
    width: 100%;
    right: 0;
  }
}
@media screen and (max-width: 990px) {
  .about__image {
    display: none;
  }
}

.companies {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 40px;
}
@media screen and (max-width: 768px) {
  .companies {
    justify-content: center;
    -moz-column-gap: 100px;
         column-gap: 100px;
  }
}

.services {
  background-color: #020A18;
}
.services__body {
  padding: 308px 0 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 262px;
       column-gap: 262px;
}
@media screen and (max-width: 1580px) {
  .services__body {
    -moz-column-gap: 68px;
         column-gap: 68px;
    padding: 130px 0 170px;
  }
}
@media screen and (max-width: 640px) {
  .services__body {
    padding: 40px 0 70px;
  }
}
.services__image {
  position: relative;
  flex: 0.9;
  width: 100%;
  max-width: 622px;
}
.services__image img {
  position: absolute;
  top: 50%;
  left: -132px;
  max-width: 725px;
  transform: translateY(-50%);
}
@media screen and (max-width: 1580px) {
  .services__image img {
    max-width: 100%;
    width: 100%;
    left: 0;
  }
}
@media screen and (max-width: 990px) {
  .services__image {
    display: none;
  }
}
.services__content {
  flex: 1.1;
}
.services__description {
  padding-bottom: 50px;
  max-width: 460px;
}
.services__title {
  padding-bottom: 30px;
  max-width: 484px;
}
.services__btn {
  display: block;
}